# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env

# Database
*.db
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
temp_chart_*
*.log
*.tmp 